<!DOCTYPE html>
<html ng-app="x">

<head>
  <meta charset="utf-8"/>
  <title></title>


  <!-- Le css -->
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="style.css"/>

  <script src="https://code.jquery.com/jquery-3.2.1.js" crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
          integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
          crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/async/2.5.0/async.js"></script>
  <script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script>
  <script src="app.js"></script>
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>

</head>
<body ng-controller="ctrl">


<!-- Le content... -->

<div class="container-fluid">
  <div class="row" style="padding: 14px 0">
    <div class="col">
      <h1>BLOCKCHAIN DEMO</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-around">
        <div class="d-flex justify-content-around">
        <img src="img/bps.png" height="60" alt="">
        </div>
        <div class="d-flex justify-content-around">
        <img src="img/bps.png" height="60" alt="">
        </div>
        <div class="d-flex justify-content-around">
        <img src="img/dgi.png" height="60" alt="">
        </div>
        <div class="d-flex justify-content-around">
        <img src="img/mtss.png" height="60" alt="">
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius fuga fugit provident repellat reprehenderit. Ab
        cumque eligendi fugiat inventore itaque nesciunt perspiciatis quaerat, quasi qui sapiente. Animi itaque vitae
        voluptates.</p>
      <div>
        <img src="img/logo-k.png" height="120" alt="">
      </div>
      <div>
        <img src="blockchain.png"/>
      </div>
      <!--<div>
        <img src="ibm-bluemix-logo.png"/>
      </div>-->
      <div>
        <img src="logo_hl_new.png"/>
      </div>
    </div>
    <div class="col-sm-5 m-3">
      <div ng-show="view.screen1">
        <div class="row align-items-center">
          <div class="col-sm"></div>
          <div class="col-sm-10">
            <div>
              <div class="row btn-menu">
                <div class="col-sm align-self-center">
                  <i class="fa fa-5x fa-user"></i>
                  <br>
                  <br>
                  <span>
                        Mi perfil
                      </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm"></div>
        </div>
        <br>
        <div class="row align-items-center">
          <div class="col-sm"></div>
          <div class="col-sm-10">
            <div>
              <div ng-click="nextView('screen2')" class="row p-2 btn-menu">
                <div class="col-sm align-self-center">
                  <i class="fa fa-5x fa-envelope-open"></i>
                  <br>
                  <br>
                  <span>
                        Trámites
                      </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm"></div>
        </div>
      </div>
      <div ng-show="view.screen2">
        <div class="row align-items-center">
          <div class="col-sm">
            <div class="col-sm">
              <div class="row btn-menu btn-menu-sm">
                <div class="col-sm align-self-center">
                  <i class="fa fa-3x fa-envelope-open"></i>
                  <span class="align-self-center">
                        Solicitar beneficio
                      </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row align-items-center">
          <div class="col-sm-6">
            <div class="col-sm">
              <div class="row btn-menu btn-menu-sm btn-menu-light">
                <div class="col-sm align-self-center">
                      <span>
                        Pensión Por fallecimiento
                      </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="col-sm">
              <div ng-click="nextView('screen3')" class="row btn-menu btn-menu-sm btn-menu-light">
                <div class="col-sm align-self-center">
                      <span>
                        Solicitud de obra
                      </span>
                </div>
              </div>
            </div>
          </div>
          <div class="w-100"></div>
          <br>
          <div class="col-sm-6">
            <div class="col-sm">
              <div class="row btn-menu btn-menu-sm btn-menu-light">
                <div class="col-sm align-self-center">
                      <span>
                        Pensión Por fallecimiento
                      </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="col-sm">
              <div class="row btn-menu btn-menu-sm btn-menu-light">
                <div class="col-sm align-self-center">
                      <span>
                        Pensión Por fallecimiento
                      </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="view.screen3">
        <form>
          <div class="form-group">
            <label>Solicitante</label>
            <input ng-disabled="true" value="Juan Perez" type="text" class="form-control"
                   aria-describedby="emailHelp">
          </div>

          <div class="form-group">
            <label>Jornales a trabajar</label>
            <input type="text" ng-model="data.workHours" class="form-control">
          </div>

          <div class="form-group">
            <label>Inicio obra</label>
            <input type="date" class="form-control" aria-describedby="emailHelp" ng-model="data.startDate">
          </div>
          <div class="form-group">
            <label>Fin obra</label>
            <input type="date" class="form-control" aria-describedby="emailHelp" ng-model="data.endDate">
          </div>

          <button type="submit" ng-click="submit()" class="btn btn-primary">Enviar</button>
        </form>

        <br>
        <div class="form-group">
          <label>Resultado:</label>
        </div>

        <table class="table table-striped">
          <thead>
          <tr>
            <th>Organización</th>
            <th>Aprobación</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>BPS</td>
            <td>
              <div ng-show="data.bps"><img src="check.png"></div>
            </td>

          </tr>
          <tr>
            <td>DGI</td>
            <td>
              <div ng-show="data.dgi"><img src="check.png"></div>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="col-sm">
      <h3>Historial de transacciones</h3>
      <hr>
      <div style="background: #f0f0f0;border-radius: 7px" class="p-3">
        <h4>Envío de solicitud a BPS</h4>
        <p>Bloque #01&#9;02-12-2017&nbsp;11:40 AM <br>
          <span class="badge badge-pill badge-success">Aprobado</span></p>
      </div>
      <!--<div ng-model="aceModel" ui-ace="{
              useWrapMode : true,
              showGutter: false,
              theme:'twilight',
              mode: 'javascript',
            }"></div>-->
    </div>
  </div>

</div>

</body>
</html>
