<!DOCTYPE html>
<html ng-app="x">

<head>
  <meta charset="utf-8"/>
  <title>KONA.tech - UNITY - Proceso de Alta de Obra Blockchain Demo</title>


  <!-- Le css -->
  <!--<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">-->
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css"/>

  <script src="https://code.jquery.com/jquery-3.2.1.js" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.3/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
          integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
          crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/async/2.5.0/async.js"></script>
  <script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script>
  <script src="app.js"></script>
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>

</head>
<body ng-controller="ctrl">
<div class="hide-me" ng-if="!hideLoader">
  <div class="mt-5 mx-auto img-responsive hide-me-sooner pt-5" style="width: 250px">
    <h1 class="text-center fade-in" style="font-size: 5rem">UNITY</h1>
    <img src="img/logo-k.png" class="w-100 fade-in" alt="">
  </div>
</div>
<!-- Le content... -->
<div class="container-fluid header">
  <div class="container">
    <div class="row" style="padding: 14px 0">
      <div class="col-md">
        <h1 style="font-size: 3rem">
          UNITY
          &nbsp;
          <img src="img/blockchain-white-01.png" height="60" alt="">
        </h1>
      </div>
      <div class="col-md text-right d-md-block d-none" style="color: #c4ced7;">
        <h5>PROCESO DE ALTA DE OBRA</h5>
        <h6>BLOCKCHAIN DEMO</h6>
      </div>
    </div>
    <div class="pb-4 pt-3 d-md-block d-none">
      <div class="row justify-content-center">
        <div class="col-1"></div>
        <div class="col-3"><span class="img-rail">
            <img src="img/building.png" class="faded" ng-class="{full : data.home}" width="120" alt="">
          </span>
          <br>
          <span ng-class="{'green-bg' : data.home}" class="indicator"></span>
        </div>
        <div class="col-3"><span class="img-rail">
          <img src="img/bps.png" class="faded" ng-class="{full : data.bps}" width="120" alt="">
        </span>
          <br>
          <span ng-class="{'green-bg' : data.bps}" class="indicator"></span>
        </div>
        <div class="col-3"><span class="img-rail">
          <img src="img/dgi.png" class="faded" ng-class="{full : data.dgi}" width="120" alt="">
        </span>
          <br>
          <span ng-class="{'green-bg' : data.dgi}" class="indicator"></span>
        </div>
        <div class="col-1"><span class="img-rail">
          <img src="img/mtss.png" class="faded" ng-class="{full : data.mtss}" width="120" alt="">
        </span>
          <br>
          <span ng-class="{'green-bg' : data.mtss}" class="indicator"></span>
        </div>
        <div class="w-100"></div>
        <div class="col-9 pt-3">
          <div class="progress row">
            <div class="progress-bar" ng-class="{'w-33': data.bps, 'w-66': data.dgi, 'w-100': data.mtss}"
                 role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="90"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container p-3">
  <div class="scroller container sub-header rounded">
    <div class="d-inline-block p-2" ng-repeat="item in blockchain">
      <div class="blockchain-item rounded p-2">
        <div class="row">
          <div class="col">
            <h5>{{item.title}}</h5>
          </div>
          <div class="col">
            <h6 class="text-right">
              #0{{$index + 1}}
            </h6>
          </div>
        </div>
        <p style="color: #666">Bloque #0{{$index + 1}}<br><span style="color: #888;">{{ item.date | date : 'dd-MM-yyyy - hh:mm:ss a'}} </span><br>
          <!--<span ng-if="item.status === 'PENDING'" class="badge badge-pill badge-warning">Pendiente</span>
          <span ng-if="item.status === 'OK'" class="badge badge-pill badge-success">OK</span>
          <span ng-if="item.status === 'ERROR'" class="badge badge-pill badge-danger">Error</span>-->
        </p>
        <div ng-show="item.ace" style="height: 130px">
          <div ng-show="item.ace" ng-model="item.ace" class="fade-in" ui-ace="{
                  useWrapMode : true,
                  showGutter: false,
                  theme:'twilight',
                  mode: 'javascript',
                }"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 mt-3">
      <div class="row">
        <div class="col-sm-6 col-md text-center-xs">
          <img src="img/logo-k.png" width="150" alt="">
        </div>
        <!--<div>
          <img src="blockchain.png" width="150"/>
        </div>-->
        <div class="col-sm-6 col-md pb-5 pt-5 text-center-xs">
          <img src="img/logo_bluemix_light.png" width="150"/>
        </div>
        <!--<div>-->
        <!--<img src="logo_hl_new.png" width="150"/>-->
        <!--</div>-->
      </div>
      <div class="row">
        <div class="col-sm mt-2">
          <p class="lead">UNITY es una solución basada en blockchain (Hyperledger) que pretende agilizar los trámites
            electrónicos
            para los ciudadanos y las empresas, consensuando la información de varios organismos del estado que
            participen en la red.</p>
        </div>
      </div>
    </div>
    <div class="col-md m-3">
      <div ng-show="view.screen1">
        <div class="row align-items-center justify-content-center">
          <div class="col-sm-8">
            <div ng-click="nextView('screen2')" style="cursor: pointer;" class="row p-2 btn-menu glow-big">
              <div class="col-sm align-self-center">
                <i class="fa fa-3x fa-envelope-open"></i>
                <br>
                <span class="mt-3 d-inline-block">
                        Trámites
                      </span>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row align-items-center justify-content-center">
          <div class="col-sm-8">
            <div class="faded-7 row btn-menu">
              <div class="col-sm align-self-center">
                <i class="fa fa-3x fa-user"></i>
                <br>
                <span class="mt-3 d-inline-block">
                        Mi perfil
                      </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="view.screen2">
        <div class="row align-items-center justify-content-center">
          <div class="col-sm-8 mb-3">
            <div class="faded-7 btn-menu btn-menu-sm">
              <div class="row h-100 align-items-center">
                <div class="col-sm">
                  <i class="fa fa-2x fa-envelope-open"></i>
                  <br>
                  <span class="mt-3 d-inline-block">
                      Solicitar beneficio
                    </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-4 mb-3">
            <div class="faded-7 btn-menu btn-menu-sm btn-menu-light">
              <div class="row h-100 align-items-center">
                <div class="col-sm">
                      <span>
                        Subsidio por enfermedad
                      </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <div class="col-sm">
              <div ng-click="nextView('screen3')" style="cursor: pointer;"
                   class="row btn-menu btn-menu-sm btn-menu-light glow">
                <div class="col-sm align-self-center">
                      <span>
                        Solicitud de obra
                      </span>
                </div>
              </div>
            </div>
          </div>
          <div class="w-100"></div>
          <div class="col-lg-4 mb-3">
            <div class="col-sm">
              <div class="row faded-7 btn-menu btn-menu-sm btn-menu-light">
                <div class="col-sm align-self-center">
                      <span>
                        Asignación familiar
                      </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <div class="col-sm">
              <div class="row faded-7 btn-menu btn-menu-sm btn-menu-light">
                <div class="col-sm align-self-center">
                      <span>
                        Pensión Por fallecimiento
                      </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="view.screen3">
        <form>
          <div class="row justify-content-center">
            <div class="col-sm-8">


              <div class="form-group">
                <label>Solicitante</label>
                <input ng-disabled="true" value="Juan P&eacute;rez" type="text" class="form-control"
                       aria-describedby="emailHelp">
              </div>

              <div class="form-group">
                <label>Jornales a trabajar</label>
                <input type="text" ng-model="data.workHours" class="form-control">
              </div>

              <div class="form-group">
                <label>Inicio obra</label>
                <input type="date" class="form-control" aria-describedby="emailHelp" ng-model="data.startDate">
              </div>
              <div class="form-group">
                <label>Fin obra</label>
                <input type="date" class="form-control" aria-describedby="emailHelp" ng-model="data.endDate">
              </div>

              <button type="submit" ng-click="submit()" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </form>
      </div>
      <div ng-show="view.screen4" class="pt-5">
        <h2 class="text-center">Trámite finalizado</h2>
        <div class="text-center pt-4">
          <button type="submit" ng-click="nextView('screen1')" class="btn btn-primary">Reiniciar</button>
        </div>
      </div>
    </div>
    <!--<div class="col-md mt-3">

    </div>-->
  </div>

</div>

</body>
</html>
