html, body, button, input, optgroup, select, textarea {
  font-family: 'Abel', Roboto, Helvetica, Arial, sans-serif !important;
  color: #444;
}

/*p {*/
  /*font-size: 1.1rem;*/
/*}*/
.ace_editor {
  height: 110px;
}

.btn-menu {
  /*cursor: pointer;*/
  border-radius: 50px;
  height: 160px;
  background: #253447;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.btn-menu span{
  font-size: 1.35rem;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.btn-menu-sm {
  height: 120px !important;
}

.btn-menu-light {
  background: #94A8C2 !important;
  color: #333 !important;
}

.blockchain-item {
  box-shadow: 0 1px 1px 0 rgba(10,16,34,.2);
  background: #fff;
  transition: all 0.5s ease;
  -webkit-animation-name: example, scale; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s, 0.2s; /* Safari 4.0 - 8.0 */
  animation-name: example, scale;
  animation-duration: 2s, 0.2s;
}

.blockchain-item:hover {
  box-shadow: 0 10px 30px -5px rgba(10,16,34,.5);
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {box-shadow: 0 10px 30px -5px rgba(10,16,34,.5);}
  to {box-shadow: 0 1px 1px 0 rgba(10,16,34,.2);}
}

/* Standard syntax */
@keyframes example {
  from {
    box-shadow: 0 10px 30px -5px rgba(10,16,34,.5);}
  to {box-shadow: 0 1px 1px 0 rgba(10,16,34,.2);}
}

@-webkit-keyframes scale {
  from {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
}

/* Standard syntax */
@keyframes scale {
  from {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
}

.glow {
  -webkit-animation-name: glow;
  -webkit-animation-duration: 1.8s;
  animation-name: glow;
  animation-duration: 1.8s;
  -webkit-animation-iteration-count: 5;
  animation-iteration-count: 5;
}

@-webkit-keyframes glow {
  from { box-shadow: 0 0 0 0 #2268b3; }
  50% { box-shadow: 0 0 25px -1px #2268b3; }
  to { box-shadow: 0 0 0 0 #2268b3; }
}

/* Standard syntax */
@keyframes glow {
  from { box-shadow: 0 0 0 0 #2268b3; }
  50% { box-shadow: 0 0 25px -1px #2268b3; }
  to { box-shadow: 0 0 0 0 #2268b3; }
}

.faded {
  opacity: 0.5;
  transition: all 0.3s ease 0.2s
}

.full {
  opacity: 1;
}

.hide-me {
  -webkit-animation-name: hide;
  -webkit-animation-duration: 1.8s;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-name: hide;
  animation-duration: 0.5s;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  position: absolute;
  z-index: 999;
  opacity: 1;
}

.hide-me-sooner {
  -webkit-animation-name: hide;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.2s;
  -webkit-animation-fill-mode: forwards;
  animation-name: hide;
  animation-duration: 0.5s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes hide {
  from {
    opacity: 1;
    display: block
  }
  to {
    opacity: 0;
    display: none
  }
}

/* Standard syntax */
@keyframes hide {
  from {
    opacity: 1;
    display: block
  }
  to {
    opacity: 0;
    display: none
  }
}

.transition-all {
  transition: all 0.5s ease;
}

.fade-in {
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade-in;
  animation-duration: 0.3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    display: block
  }
  to {
    opacity: 1;
    display: none
  }
}

.glow-big {
  -webkit-animation-name: glowBig;
  -webkit-animation-duration: 1.8s;
  animation-name: glowBig;
  animation-duration: 1.8s;
  -webkit-animation-iteration-count: 5;
  animation-iteration-count: 5;
}

@-webkit-keyframes glowBig {
  from { box-shadow: 0 0 0 0 #2268b3; }
  50% { box-shadow: 0 0 40px -1px #2268b3; }
  to { box-shadow: 0 0 0 0 #2268b3; }
}

/* Standard syntax */
@keyframes glowBig {
  from { box-shadow: 0 0 0 0 #2268b3; }
  50% { box-shadow: 0 0 40px -1px #2268b3; }
  to { box-shadow: 0 0 0 0 #2268b3; }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1800px;
  }
}

@media (max-width: 575px) {
  .text-center-xs {
    text-align: center;
  }
}

.img-rail {
  position: relative;
  left: -75px;
}

.progress {
  height: 2px;
  background: #5a687c;
}

.progress-bar {
  background: #d5f5eb;
  width: 0;
  transition: all 0.4s ease;
}

.progress-bar.w-33 {
  width: 33.33%;
}
.progress-bar.w-66 {
  width: 66.66%;
}
.progress-bar.w-100 {
  width: 100%;
}

.indicator {
  position: absolute;
  left: -7px;
  bottom: -25px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ccd6e4;
  display: inline-block;
  z-index: 99;
  transition: all 0.2s ease 0.2s;
}

.indicator.green-bg {
  background: #08e4a3;
  box-shadow: 0 0 4px 1px #08e4a3;
}

.faded-7 {
  opacity: 0.7;
}