.ace_editor {
  height: 1000px;
}

.btn-menu {
  cursor: pointer;
  font-size: 36px;
  border-radius: 50px;
  height: 360px;
  background: #253447;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.btn-menu span{
  font-size: 1.75rem;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.btn-menu-sm {
  height: 220px !important;
}

.btn-menu-light {
  background: #94A8C2 !important;
  color: #333 !important;
}
