html, body, button, input, optgroup, select, textarea {
  font-family: 'Abel', Roboto, Helvetica, Arial, sans-serif !important;
  color: #444;
}

p {
  font-size: 1.1rem;
}
.ace_editor {
  height: 130px;
}

.btn-menu {
  cursor: pointer;
  border-radius: 50px;
  height: 260px;
  background: #253447;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.btn-menu span{
  font-size: 1.35rem;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.btn-menu-sm {
  height: 160px !important;
}

.btn-menu-light {
  background: #94A8C2 !important;
  color: #333 !important;
}

.blockchain-item {
  box-shadow: 0 1px 1px 0 rgba(10,16,34,.2);
  background: #fff;
  transition: all 0.5s ease;
  -webkit-animation-name: example, scale; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s, 0.2s; /* Safari 4.0 - 8.0 */
  animation-name: example, scale;
  animation-duration: 2s, 0.2s;
}

.blockchain-item:hover {
  box-shadow: 0 10px 30px -5px rgba(10,16,34,.5);
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {box-shadow: 0 10px 30px -5px rgba(10,16,34,.5);}
  to {box-shadow: 0 1px 1px 0 rgba(10,16,34,.2);}
}

/* Standard syntax */
@keyframes example {
  from {
    box-shadow: 0 10px 30px -5px rgba(10,16,34,.5);}
  to {box-shadow: 0 1px 1px 0 rgba(10,16,34,.2);}
}

@-webkit-keyframes scale {
  from {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
}

/* Standard syntax */
@keyframes scale {
  from {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
}

.glow {
  -webkit-animation-name: glow;
  -webkit-animation-duration: 1.8s;
  animation-name: glow;
  animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes glow {
  from { box-shadow: 0 0 0 0 #2268b3; }
  50% { box-shadow: 0 0 20px -1px #2268b3; }
  to { box-shadow: 0 0 0 0 #2268b3; }
}

/* Standard syntax */
@keyframes glow {
  from { box-shadow: 0 0 0 0 #2268b3; }
  50% { box-shadow: 0 0 20px -1px #2268b3; }
  to { box-shadow: 0 0 0 0 #2268b3; }
}